#subheader_div {
	background-color: lightgray;
	width: 100%;
	position: absolute;
	padding: 5px;
	border: 1px solid lightgrey;
}
#profile_picture, #friend_profile_picture {
	width: 60px;
	height: 50px;
	border-radius: 30px;
	background-color: #FFFFFF;
	margin-left: 30px;
	background-image: url(../images/default.png);
	background-size: 100% 100%;
}
#friend_profile_picture {
	background-image: url(../images/15241775_1138296379617132_1793783046835652863_n.jpg);
}
div#search_div {
	position: absolute;
	z-index: 399;
	top: 0px;
	width: 60%;
	margin: 10px auto auto 10%;
}
div#search_div #search_box {
	width: 80%;
	font-size: 14px;
	padding: 10px;
	height: 40px;
	border-radius: 20px;
	border: 0;
	box-sizing: border-box;
	background-image: url(../images/1486198611_icon-111-search.png);
	background-repeat: no-repeat;
	background-position: right;
	background-size: auto 100%;
}
#search_box {
	border: 1px solid lightgrey;
}
ul#submenu {
	padding: 10px;
	position: absolute;
	top: 30px;
	display: none;
	color: #F4F7FA;
}
#submenu_li {
	background-image: url(../images/1486181656_menu.png);
	background-size: 100% 100%;
	background-repeat: no-repeat;
	width: 40px;
	height: 40px;
}
#menu {
	position: absolute;
	margin: 0;
}
ul#submenu li {
	padding: 10px;
	border-bottom: 1px solid #2C3E50;
	text-align: center;
	margin: 0;
	border-radius: 10px;
	width: 150px;
	background-color: #28B463;
}
ul#menu >li:hover >ul#submenu {
	display: block;
}
#menu_div {
	position: absolute;
	top: 5px;
	right: 20%;
	z-index: 199;
}
#friend_name {
	position: absolute;
	top: 20px;
	left: 150px;
}
#chat_div {
	position: relative;
	top: 70px;
	height: 600px;
	width: 95%;
	padding: 20px;
	margin: auto;
	font-size: 14px;
}
h2 {
	color: white;
	font-family: Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial, " sans-serif";
	margin: 0 0 0 10%;
}
#contacts {
	position: absolute;
	padding: 0px;
	left: 0px;
	margin: 0;
	top: 15%;
	overflow-y: scroll;
	z-index: 300;
}
#contacts span, #friend_name span {
	margin-left: 25px;
	width: 30px;
	text-align: right;
}
#contacts li {
	color: #F4F7FA;
	padding: 15px;
	width: 250px;
	margin: 5px;
	border-bottom: 1px solid black;
}
#contacts li:nth-child(2n) {
	background-color: #28B463;
}
#contacts li:nth-child(2n+1) {
	background-color: #2C3E50;
}
#contacts li:hover {
	background-color: #DDDFE2;
	color: #2C3E50;
	cursor: pointer;
}
#chat {
	position: absolute;
	right: 20px;
	width: 70%;
	top: 60px;
	padding: 0;
	overflow-y: scroll;
	overflow-x: hidden;
	height: 70%;
	resize: none;
	bottom: 20px;
	margin-bottom: 20px;
	box-shadow: 1px 1px 1px #ccc;
	border: 3px solid lightgrey;
	border-radius: 5px;
	background-color: white;
}
#chat img {
	margin: auto;
	display: block;
}
#chat li {
	height: auto;
	position: relative;
}
#chat li p {
	padding: 10px 20px 20px 10px;
	display: inline-block;
	min-width: 15%;
	max-width: 30%;
	margin: 5px;
	color: white;
	position: relative;
	border-radius: 10px;
	font-family: tahoma, " sans-serif";
}
.user {
	background-color: #EE4F4F;
	left: 60%;
}
.friend {
	background-color: #0AB9A7;
	position: relative;
	left: 5%;
	border-radius: 10px 0px 0px 20px;
}
#friend_info {
	position: absolute;
	width: 70%;
	right: 20px;
	color: white;
	background-color: #2C3E50;
	border: 1px solid #2C3E50;
}
#message_div {
	position: absolute;
	bottom: 60px;
	right: 30px;
	width: 70%;
}
#message_div #message_box {
	font-size: 14px;
	height: 40px;
	border: 0;
	width: 100%;
	resize: none;
	padding: 5px;
	background-color: #F4F7FA;
	border-radius: 3px;
}
#message_div #message_box:focus {
	background-color: white;
}
h1 span#userName {
	font-size: 24px;
	color: #EE4F4F;
}
span.activity {
	background-repeat: no-repeat;
	display: inline-block;
	width: 15px;
	height: 15px;
}
.online {
	background: url(../images/online.png);
}
.lastseen {
	background: url(../images/lastseen.png);
}
#search_result {
	position: absolute;
	list-style-type: none;
	margin: 0;
	padding: 10px;
	width: 60%;
	visibility: hidden;
	background-color: whitesmoke;
}
#search_result li, #showRequestList li {
	text-decoration: none;
	border-bottom: 1px solid whitesmoke;
	background-color: white;
	color: #2C3E50;
	margin: 3px;
}
#search_result li a:hover {
	background-color: #ECF0F7;
	color: #2C3E50;
	font-weight: bold;
}
#search_result li a {
	width: 70%;
	height: 100%;
	display: inline-block;
	padding: 10px;
	cursor: pointer;
}
.profile_view {
}
#search_result li a.send_request {
	color: white;
	background-color: #8CD600;
	border-radius: 5px;
	width: 20%;
	float: right;
}
.disabled {
	opacity: 0.5;
}
#friend_request_div {
	width: 35px;
	height: 35px;
	background-repeat: no-repeat;
	position: absolute;
	right: 25%;
	top: 18%;
	cursor: pointer;
	background-image: url(../images/bell-512.png);
}
.count_div {
	border: 1px solid #3B5998;
	position: absolute;
	right: 0px;
	width: 15px;
	text-align: center;
	color: white;
	background-color: #3B5998;
	border-radius: 3px;
}
#notification_div {
	background-image: url(../images/flag_notification_2-512.png);
	width: 35px;
	height: 35px;
	background-repeat: no-repeat;
	position: absolute;
	right: 20%;
	top: 20%;
	cursor: pointer
}
#showRequestList {
	position: absolute;
	top: 80%;
	right: 22%;
	list-style-type: none;
	z-index: 200;
	padding: 10px;
	background-color: whitesmoke;
	border-radius: 20px 0 0 20px;
	visibility: hidden;
}
#showRequestList li {
	margin: 5px;
}
#showRequestList li img {
	width: 10%;
	height: 10%;
	margin-right: 20px;
}
#showRequestList li a.accept {
	background-color: #8CD600;
}
#showRequestList li a {
	text-align: center;
	color: slategray;
	font-weight: 400;
	padding: 10px;
	margin: 0;
	display: inline-block;
}
#showRequestList li a.reject, #showRequestList li a.accept {
	border-radius: 5px;
	width: 20%;
	float: right;
	text-align: center;
	margin: 15px 5px auto auto;
	color: grey;
	cursor: pointer;
	border: 1px solid #ccc;
}
#showRequestList li a.reject:active, #showRequestList li a.accept:active {
	background-color: #2C3E50;
	color: white;
}
#showRequestList li a.reject {
	background-color: lightgray;
}
.time {
	position: absolute;
	right: 10px;
	bottom: 3px;
	font-size: 10px;
	font-style: italic;
	color: white;
}
