@charset "utf-8";
/* CSS Document */
#login_image,#signup_image
{
	
	float:left;
	margin:90px 50px 50px 150px;
}
ul
{
	//border:1px solid red;
	border-radius:20px;
	position:absolute;
	right:5%;
	top:10%;
	background-color:white;
	list-style-type:none;
	padding:20px;
	box-shadow: 2px 1px 5px 1px #CCC;
	
}
ul li
{
	margin:5px;
	height:40px;
	
	
}
label
{
	width:200px;
	display:block;
	float:left;
	text-align:left;
	padding-left: 10px;
	color:#2D2C2C;
	background-color:#EE4F4F;
	height: 40px;
	
	border-radius:10px;
	
	font-family:"forte";
	font-weight:100;
	font-size:1.2em;
	
	
}
.inputs
{
	width:300px;
	font-size:1.2em;
	background-color:#F4F7FA;
	border-radius:10px;
	height:40px;
	
	margin-left: 10px;
	padding-left: 10px;
	
}
#signup_heading,#login_heading
{
	text-align:center;
	font-family:"Bradley Hand ITC";
	font-weight:bolder;
	background-color:#2C3E50;
	color:#F4F7FA;
	font-size:1.5em;
		border-radius:10px;
	height: auto;
}
#main_div li
{
	padding: 5px;
	margin: 5px;
	height: auto;

}
#login_submit
{
	width:200px;
	float:right;
	font-size: 20px;

}
p
{
	margin: 0;
}
.warning
{
	color: red;
	font-family: Gill Sans, Gill Sans MT, Myriad Pro, DejaVu Sans Condensed, Helvetica, Arial," sans-serif";
	font-size: 14px;
	margin: 5px;
	
}
#loader
{
	position:absolute;

	width: 100%;
	height: 100%;
	text-align: center;
	z-index: 1000;
	
	background-color: rgba(131,128,128,0.5);
	
}
#loader img
{
	position:absolute;
	top: 25%;
	left:43%;
	
}